</div>
<style>.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Footer background color */
  color: #fff; /* Footer text color */
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}
  
  .footer-padding {
    height: 20px; /* Footer padding height */
    background-color: white; /* Background color same as footer */
  }</style>
<div class="footer-padding"></div>
<div class="footer">
  <p>© 2024 By Harsh. All rights reserved.</p>
</div>
