/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
} */

/* .footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
} */

/* Custom CSS for the footer */
.footer {
    background-color: #343a40; /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer-padding {
    height: 20px; /* Footer padding height */
    background-color: #343a40; /* Background color same as footer */
  }
  